<h1>Editar Cliente</h1>
<br />
<%= form_for @client, url: {action: :update}  do |f| %>
	<% if @client.errors.any? %>
		<h2> Tem erro! </h2>
		<ul>
		<% @client.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :website %><br />
		<%= f.text_field :website %>
	</p>

	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</p>
	
	<p>
		<%= f.submit "Salvar Cliente" %>
	</p>
<% end %>

<%= link_to 'Voltar', client_path %>