<h1>Novo Usuario</h1>
<br />

<%= form_for(@user, html: {multipart: true} ) do |f| %>
	<% if @user.errors.any? %>
		<h2> Tem erro! </h2>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :nick %><br />
		<%= f.text_field :nick %>
	</p>

	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :avatar %><br />
		<%= f.file_field :avatar %>
	</p>
	
	<p>
		<%= f.submit "Novo Usuario" %>
	</p>
<% end %>

<%= link_to "Voltar",  users_path %>