<ul class="breadcrumb breadcrumb-page">
	<div class="breadcrumb-label text-light-gray">Você está em: </div>
	<li><a href="#">Início</a></li>
</ul>


<div class="page-header">
	<div class="row">
		<h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
			<i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Início</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-9 col-sm-8 col-xs-12">
		<div class="stat-panel">
			<div class="stat-cell bg-success valign-middle">
				<i class="fa fa-group bg-icon"></i>
				<span class="text-xlg"><strong>10</strong></span><br>
				<span class="text-bg">Alguma coisa</span><br>
			</div> 
		</div>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-12">
		<div style="height: 147px;" class="stat-panel">
			<div class="stat-row">
				<div class="stat-cell bg-danger no-padding text-center text-slg">
					<i class="fa fa-envelope"></i>
				</div>
			</div>
			<div class="stat-row">
				<div class="stat-cell bordered no-border-t text-center text-lg">
					<strong>10</strong>
					<small><small>Contatos</small></small>
				</div>
			</div> 
		</div>
	</div>
</div>