<h1>Editar Cliente</h1>
<br />
<%= form_for @teacher, url: {action: :update}  do |f| %>
	<% if @teacher.errors.any? %>
		<h2> Tem erro! </h2>
		<ul>
		<% @teacher.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.submit "Salvar Cliente" %>
	</p>
<% end %>

<%= link_to 'Voltar', teachers_path %>