<ul class="breadcrumb breadcrumb-page">
	<div class="breadcrumb-label text-light-gray">Você está em: </div>
	<li><a href="#">Banco de Provas</a></li>
</ul>
<div class="page-header">
	<div class="row">
		<h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
			<i class="fa fa-envelope page-header-icon"></i>&nbsp;&nbsp;Lista de Provas
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Todas as provas</span>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Professor</th>
							<th>Email</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						<% @teachers.each do |t| %>
							<tr>
								<td><%= t.name %></td>
								<td><%= t.email %></td>
								<td>
									<%= link_to raw("<i class='fa fa-eye'></i>"), teacher_path(t) %> 
									<%= link_to raw("<i class='fa fa-edit'></i>"), edit_teacher_path(t) %> 
									<%= link_to raw("<i class='fa fa-trash-o'></i>"), teacher_path(t), 
											method: :delete, data: {confirm: 'Deletar?'}%>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

