<h1><%= @teacher.name %></h1>

<p><%= @teacher.email %></p>

<h2>Add a course:</h2>
<%= form_for([@teacher, @teacher.teacher_course.build]) do |f| %>
  <p>
 	<%= f.collection_select :course_id, Course.order(:name),:id,:name, :prompt => "Disciplina"%>
  </p>
  <p>
	<%= f.collection_select :course_type_id, CourseType.order(:name),:id,:name, :prompt => "Tipo" %>
  </p>
  <p>
	  <%= f.label :year %>
	  <%= f.number_field :year %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
