<h1>Editar Disciplina</h1>
<br />
<%= form_for @course, url: {action: :update}  do |f| %>
	<% if @course.errors.any? %>
		<h2> Tem erro! </h2>
		<ul>
		<% @course.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.submit "Salvar Disciplina" %>
	</p>
<% end %>

<%= link_to 'Voltar', courses_path %>