<div class="page-header">
	<h1><span class="text-light-gray">Provas / </span>Listar</h1>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Todas as Discplina</span>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Disciplina</th>
							<th>Professor</th>
							<th>Ano</th>
							<th>Número da prova</th>
							<th>Arquivo</th>
						</tr>
					</thead>
					<tbody>
						<% @tests.each do |t| %>
							<tr>
								<td><%= t.course.name if t.course %></td>
								<td><%= t.teacher.name  if t.teacher %></td>
								<td><%= t.year %></td>
								<td><%= t.number %></td>
								<td><%= link_to "Baixar", root_path %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

