<h1>Nova disciplina</h1>
<br />

<%= form_for @course do |f| %>
	<% if @course.errors.any? %>
		<h2> Tem erro! </h2>
		<ul>
		<% @course.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit "Novo Disciplina" %>
	</p>
<% end %>

<%= link_to "Voltar",  courses_path %>