<div class="page-header">
	<h1><span class="text-light-gray">Provas / </span>Listar</h1>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Todas as provas</span>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Disciplina</th>
							<th>Professor</th>
							<th>Ano</th>
							<th>Número da prova</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						<% @tests.each do |t| %>
							<tr>
								<td><%= t.course.name if t.course %></td>
								<td><%= t.teacher.name  if t.teacher %></td>
								<td><%= t.year %></td>
								<td><%= t.number %></td>
								<td>
									<%= link_to raw("<i class='fa fa-download'></i>"), root_path %> 
									<%= link_to raw("<i class='fa fa-edit'></i>"), edit_test_path(t) %> 
									<%= link_to raw("<i class='fa fa-trash-o'></i>"), test_path(t), 
											method: :delete, data: {confirm: 'Deletar?'}%>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

