<div class="page-header">
	<h1><span class="text-light-gray">Provas / </span>Adicionar</h1>
</div>

<div class="row">
	<div class="col-sm-12">
		<%= form_for(@test, html: {multipart: true, class: 'panel form-horizontal'}) do |f| %>
			<div class="panel-heading">
				<span class="panel-title">Cadastro</span>
			</div>
			<div class="panel-body">
				<div class="form-group no-margin-hr col-sm-6">
					<label class="control-label">Professor</label><br />
					<p>
					  	<%= f.collection_select :teacher_id, 
					  			Teacher.order(:name),:id,:name, {}, {class: "form-control", multiple: "3"} %>
				    </p>
			    </div>
				<div class="form-group no-margin-hr col-sm-6">
					<label class="control-label">Disciplina</label><br />
					<p>
					  <%= f.collection_select :course_id, 
					  		Course.order(:name),:id,:name, {}, {class: "form-control", multiple: "3"} %>
				    </p>
				</div>
				<div class="form-group no-margin-hr col-sm-6">
					<label for="number" class="control-label">Ano da Prova</label>
					<br />
					<%= f.number_field :number, class: 'form-control' %>
				</div>
				<div class="form-group no-margin-hr col-sm-6">
					<label for="number" class="control-label">Número da Prova</label>
					<br />
					<%= f.number_field :number, class: 'form-control' %>
				</div>
				<div class="form-group no-margin-hr col-sm-12">
					<label for="number" class="control-label">Arquivo</label>
					<br />
					<%= f.file_field :test %>
					<p class="help-block">Formatos PDF, JPG e PNG</p>
				</div>
				<div class="form-group no-margin-hr col-sm-12">
					<label for="content" class="control-label">Conteúdo</label>
					<%= f.text_area :content, class: 'form-control', rows: '5' %>
				</div>

    		</div>
			<div class="panel-footer text-right">
				<%= f.submit "Adicionar", class:'btn btn-primary' %>
			</div>
		<% end %>
	</div>
</div>