<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Painel CACC</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	
    <%= javascript_include_tag 'application' %>
	<%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin' %>

</head>
<body class="theme-default main-menu-animated">

	<script>var init = [];</script>

	<div id="main-wrapper">

		<!-- Barra do topo -->
		<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
			<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i>
				<span class="hide-menu-text">ESCONDER MENU</span></button>
			<div class="navbar-inner">
				<div class="navbar-header">

					<a href="" class="navbar-brand">
						<div>
						<img alt="Pixel Admin" src="images/pixel-admin/main-navbar-logo.png"></div>
						PAINEL<strong>CACC</strong>
					</a>

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

				</div>

				<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
					<div>

						<!-- Menu esquerdo do topo -->
						<ul class="nav navbar-nav">
							<li>
								<a href="/">Início</a>
							</li>
						</ul>

						<!-- Menu direito do topo -->
						<div class="right clearfix">
							<ul class="nav navbar-nav pull-right right-navbar-nav">
								<li class="dropdown">
									<a href="\#" class="dropdown-toggle user-menu" data-toggle="dropdown">
										<img src="images/pixel-admin/avatar.png" alt="" class="">
										<span>Rafael Rubenich</span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Settings</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
									</ul>
								</li>
							</ul> 
						</div>
					</div>
				</div>
			</div> 
		</div> 

		<!-- Fim da barra do topo -->

		<!-- Menu de navegação lateral -->
		
		<div id="main-menu" role="navigation">			
			<div id="main-menu-inner">
				<div class="menu-content top" id="menu-content-demo">
					<div>
						<div class="text-bg">
							<span class="text-slim">Bem vindo,</span> 
							<span class="text-semibold">NAME</span>
						</div>
						<img src="images/pixel-admin/avatar.png" alt="" class="">
						<div class="btn-group">
							<a href="#" class="btn btn-xs btn-primary btn-outline dark" style="padding:5px;">
							<i class="fa fa-cog"></i></a>
							<a href="#" class="btn btn-xs btn-danger btn-outline dark" style="padding:5px;">
							<i class="fa fa-power-off"></i></a>
						</div>
					</div>
				</div>
				<ul class="navigation">
					<li>
						<a href="/">
							<i class="menu-icon fa fa-home"></i>
							<span class="mm-text">Início</span>
						</a>
					</li>
					<li class="mm-dropdown">
						<a href="#">
							<i class="menu-icon fa fa-folder"></i>
							<span class="mm-text">Banco de Provas</span>
						</a>
						<ul>
							<li>
								<a tabindex="-1" href="/tests">
									<i class="menu-icon fa fa-th-list"></i>
									<span class="mm-text">Listar</span>
								</a>
							</li>
							<li>
								<a tabindex="-1" href="/tests/new">
									<i class="menu-icon fa fa-plus"></i>
									<span class="mm-text">Adicionar</span>
								</a>
							</li>
						</ul>
					</li>

					<li class="mm-dropdown">
						<a href="#">
							<i class="menu-icon fa fa-group"></i>
							<span class="mm-text">Professores</span>
						</a>
						<ul>
							<li>
								<a tabindex="-1" href="/teachers">
									<i class="menu-icon fa fa-th-list"></i>
									<span class="mm-text">Listar</span>
								</a>
							</li>
							<li>
								<a tabindex="-1" href="/teachers/new">
									<i class="menu-icon fa fa-plus"></i>
									<span class="mm-text">Adicionar</span>
								</a>
							</li>
						</ul>
					</li>

					<li class="mm-dropdown">
						<a href="#">
							<i class="menu-icon fa fa-book"></i>
							<span class="mm-text">Disciplinas do Curso</span>
						</a>
						<ul>
							<li>
								<a tabindex="-1" href="/courses">
									<i class="menu-icon fa fa-th-list"></i>
									<span class="mm-text">Listar</span>
								</a>
							</li>
							<li>
								<a tabindex="-1" href="/courses/new">
									<i class="menu-icon fa fa-plus"></i>
									<span class="mm-text">Adicionar</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="mm-dropdown">
						<a href="#">
							<i class="menu-icon fa fa-user"></i>
							<span class="mm-text">Alunos do Curso</span>
						</a>
						<ul>
							<li>
								<a tabindex="-1" href="/users">
									<i class="menu-icon fa fa-th-list"></i>
									<span class="mm-text">Listar</span>
								</a>
							</li>
							<li>
								<a tabindex="-1" href="/users/new">
									<i class="menu-icon fa fa-plus"></i>
									<span class="mm-text">Adicionar</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div> 

		<!-- Fim do menu de navegação -->

		<!-- Conteúdo da página -->

		<div id="content-wrapper">
			<%= yield %>
		</div>

		<!-- Fim do conteúdo da página -->


		<div id="main-menu-bg"></div>
	</div>
	<script type="text/javascript">
		window.PixelAdmin.start(init);
		console.log("Chamou")
	</script>

</body>
</html>